
#editor-console .margin-left {
    margin-left: 15px;
}

#editor-console .margin-left-small {
    margin-left: 5px;
}

#editor-console .console {
	overflow-y: scroll;
	overflow-x: hidden;
}

#editor-console .console > input {
	width: 100%;
	margin: 0px -40px 0px 0px;
	background: none;
	border: 0px;
	outline: none;
	box-shadow:none;
}

#editor-console .console > input:focus {
	outline: none;
	box-shadow:none;
}

#editor-console .console > input.error {
    color: red;
}

#editor-console .console > input.warn {
    color: rgb(112, 112, 0);
}


#editor-console-icon {
    background: url("../assets/icon.png");
    background-size: 22px;
    background-position: center;
}

#editor-console-icon.on {
    background: url("../assets/icon-on.png");
    background-size: 22px;
    background-position: center;
}

#editor-console .label {
    text-shadow: none;
    margin-left: 4px;
    margin-bottom: -1px;
    margin-right: -6px;
}